@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('fonts/opensans/open-sans-v17-latin-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('fonts/opensans/open-sans-v17-latin-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Serif Italic'), local('IBMPlexSerif-Italic'), url('fonts/ibmplex/ibm-plex-serif-v8-latin-italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Serif'), local('IBMPlexSerif'), url('fonts/ibmplex/ibm-plex-serif-v8-latin-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('IBM Plex Serif SemiBold'), local('IBMPlexSerif-SemiBold'), url('fonts/ibmplex/ibm-plex-serif-v8-latin-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@tailwind base;

/* global font styles */

h1 {
  @apply text-2xl font-sans font-semibold mb-4 ;
}
h2 {
  @apply text-xl font-sans font-semibold mt-3 mb-3 border-b border-gray-400;
}
h3 {
  @apply text-base font-sans font-semibold mt-1 mb-1;
}
p {
  @apply mt-1 mb-2;
}
strong {
  @apply font-semibold;
}
a {
  @apply underline;
}

ul {
  @apply list-disc list-inside mb-2; 
}

ol > li > ul {
  @apply ml-5;
}

li {
  @apply mb-1;
}

ul > li > ul {
  @apply list-circle list-inside ml-5; 
}

ol {
  @apply list-decimal list-inside;
}

/* code layout */

code {
  @apply bg-gray-200 text-xs p-1;
  @screen sm {
    @apply text-xs;
  }
  @screen md {
    @apply text-sm;
  }
}

/* table layout */

table {
  @apply mt-3 mb-3 table-auto border-collapse border-2 border-gray-500;
}

tr > th {
  @apply border border-gray-400 px-4 py-2;
}

tr > td {
  @apply border border-gray-400 px-4 py-2;
}

/* callouts */
.callout {
  @apply bg-green-100 border-green-500 border-l-8 my-4 px-10 py-3 font-sans leading-snug;
}

.csb {
  @apply my-4 border-orange-200 border-4 rounded;
}

@tailwind components;
@tailwind utilities;